@import 'global';

.blog {
    .window-leave {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .category-box {
        display: block;
        .make-row();

        .category {
            //font
            color: @gray-light;
            text-align: center;
            overflow-x: hidden;
            text-overflow: ellipsis;
            //desgin
            cursor: pointer;
            background-color: white;
            //structure
            border-bottom: 2px solid @gray-lighter;
            z-index: @blogCategoryIndex;
            .make-xs-column(9);
            .make-sm-column(6);

            &:first-of-type {
                .make-xs-column-offset(0);
                .make-sm-column-offset(6);
            }

            &:hover {
                color: @brand-success;
                border-bottom-color: lighten(@brand-success,30%);
            }

            &[checked] {
                color: @brand-success;
                border-bottom-color: @brand-success;
                font-weight: bolder;
            }
        }
    }
}