@import 'global';
@import 'glyphicons';



.logo {
    .logo-title {
        .main-title {
        }

        .sub-title {
            @radius: 3px;
            @padding: 3px;

            * {
                color: white;
            }

            custom-select-view {
                background-color: @brand-success;
                padding: @padding;
                border-radius: @radius;

                &:after {
                    font-family: 'Glyphicons Halflings';
                    content: "\e114";
                    font-size: 8px;
                    padding: 0 5px;
                }
                //&:hover {
                //    color: @brand-info;
                //}
            }

            custom-option-wrapper {
                .transition(height .5s);
                height: 0px;
                overflow-y: hidden;

                &[selecting] {
                    height: 150px;
                }

                custom-option {
                    text-align: left;
                    display: block;
                    background-color: @brand-success;
                    padding: @padding;

                    &[selected] {
                        display: none;
                    }

                    &:first-of-type {
                        .border-top-radius(@radius);
                    }

                    &:last-of-type {
                        .border-bottom-radius(@radius);
                    }
                }

                &:before {
                    padding: @padding;
                }
            }
        }
    }
}
