@import (reference) '../less/bootstrap.less';

//grid
.music-room {
    @backgroundColor: cadetblue;
    .fixedBackground(@backgroundColor);

    .playarea {
        @screenSize: 550px;
        @discSize: @screenSize * 9/10;
        @discHoleSize: @screenSize * 1/6;
        @discBorderSize: 10px;
        @discLineSize: @discHoleSize + @discBorderSize * 3;
        @discMoveSize: @screenSize * 1/2;
        @discColor: @gray-dark;
        @playerSize: @discMoveSize + @discSize;
        @playerPadding: 20px;

        .player, .comment {
            display: block;
            margin: 0 auto;
            width: @playerSize;
        }

        .player {
            padding: @playerPadding 0;

            .disc, screen {
                position: absolute;
            }

            .disc {
                .square(@discSize);
                background-color: @discColor;
                border-radius: @discSize;
                margin-top: (@screenSize - @discSize) / 2;
                margin-bottom: (@screenSize - @discSize) / 2;
                margin-left: @discMoveSize;
                margin-right: 0;
                z-index: -1;

                &:after {
                    content: ' ';
                    .square(@discHoleSize);
                    display: @discColor;
                    position: absolute;
                    background-color: @backgroundColor;
                    border-radius: @discHoleSize;
                    top: @discSize/2 - @discHoleSize/2;
                    left: @discSize/2 - @discHoleSize/2;
                }

                &:before {
                    content: ' ';
                    .square(@discLineSize);
                    display: block;
                    position: absolute;
                    background-color: transparent;
                    border-radius: @discLineSize;
                    top: @discSize/2 - @discLineSize/2;
                    left: @discSize/2 - @discLineSize/2;
                    border: 3px solid @backgroundColor;
                }
            }

            .screen {
                .square(@screenSize);
                border: 3px solid white;
                background-color: white;
            }
        }

        .comment {
            @paddingSize: 20px;
            @baseColor: @brand-success;
            position: absolute;
            left: 0;
            right: 0;
            background-color: saturate(@baseColor,40%);
            padding: @paddingSize;
            border: 5px solid @baseColor;
            border-radius: 5px;
            line-height: 1.5;
            .box-shadow(0px 0px 5px #fff);
            margin-bottom: 50px;

            .time {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                text-align: right;
                padding: @paddingSize;
            }
        }
    }
}