<section class="logo navbar-static-top" ng-controller="logoCtrl">
    <h1 class="logo-title">
        <span class="main-title">{{logoTitle}}</span>
        <custom-select class="sub-title" change-select="changePage" id="category-select">
            <custom-option-wrapper>
                <custom-option value="{{$index}}" ng-repeat="page in pageList" ng-selected="{{selectIndex == $index}}" ng-bind="page.title"></custom-option>
            </custom-option-wrapper>
            <custom-select-view></custom-select-view>
        </custom-select>
  </h1>
</section>